body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
    color: #333333;
}

#wrapper {
    width: 1100px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
}

#navbar {
    background-color: #333333;
    padding: 10px;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
    margin: 0 10px;
}

#navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

#aside {
    /* width: 100%; */
    /* float: left; */
    padding: 10px;
}

#aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#aside ul li {
    margin: 10px 0;
}

#aside ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
}

#content {
    /* float: right; */
    /* width: 800px; */
    padding: 10px;
}

#content h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
    text-align: center;
}

#content p {
    margin: 0 0 10px 0;
    text-align: center;
}

#content table {
    width: 100%;
    border-collapse: collapse;
    /* margin-left: 35%; */
}

#content table th,
#content table td {
    padding: 5px 10px;
    border: 1px solid #cccccc;
}
#content table td #cek{
    padding: 1px;
}

#footer {
    clear: both;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.clock {
    font-size: 5em;	
    font-family: 'digital-7';
    margin-left: 36.5%;
  }
  #date{
	font-size: 2em;
    font-family: 'digital-7';
	text-align: center;
  }
  #btn-center{
	font-size: 1em;
    font-family: 'digital-7';
	margin-left : 42%;
  }